.icon-1,
.icon-2,
.icon-3 {
  position: absolute;
  left: 25%;
  top: 50%;
  width: 32px;
  height: 3px;
  background-color: black;
  transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
}

.icon-1 {
  transform: translateY(-8px);
  animation-delay: 100ms;
}

.icon-3 {
  transform: translateY(8px);
  animation-delay: 250ms;
}

.hamburger-icon {
  position: absolute;
  height: 60px;
  width: 60px;
  top: 10%;
  left: 3%;
  z-index: 1000;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  background: rgba(255, 255, 255, 0.2);
}

.icon-1.a {
  transform: rotate(40deg);
}
.icon-3.b {
  transform: rotate(-40deg);
}
.icon-2.c {
  opacity: 0;
}

.clear {
  clear: both;
}

.ingredients__image-wrapper {
  height: 100vh;
  margin-bottom: 2rem;
  -webkit-mask-image: url("/icon-ellipse.svg");
  mask-image: url("/icon-ellipse.svg");
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}

.ingredients__image {
  height: 110%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}

@media (min-width: 767.99px) {
  .ingredients__image-wrapper {
    height: 100%;
    position: absolute;
    width: 70%;
    z-index: -1;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
